<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>⬅️Redirección➡️</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/message-styles.css">
</head>
<body onload="counter()">
  <div class="message-container">
    <div class="message-div" id="message-div">
      <h1 class="message">
        <%= message %>
      </h1>
        <div id="timer"></div>
    </div>
  </div>
  <script src="/js/redirectionScript.js"></script>
</body>
</html>