<nav class="navbar-container">
    <p class="navbar-title"><span class="spanNav">T</span>IENDA DE <span class="spanNav">B</span>EBIDAS</p>
    <form action="/users/login/" method="GET">
        <button type="submit" class="login-button login-button-position">Log-In</button>
    </form>
    <form action="/users/register/" method="GET">
        <button type="submit" class="login-button login-button-position">Register</button>
    </form>
    <form action="/users/out/" method="POST">
        <button type="submit" class="login-button login-button-position">Log-Out</button>
    </form>
    <% if (condition) { %>
     
    <% } %>
    <!-- <form action="/productos/" method="GET">
        <button type="submit" class="login-button login-button-position">Productos</button>
    </form>
    <form action="/categorias/" method="GET">
        <button type="submit" class="login-button login-button-position">Categorias</button>
    </form>
    <form action="/users/" method="GET">
        <button type="submit" class="login-button login-button-position">Users</button>
    </form> -->
</nav>