*{box-sizing: border-box;
    font-family: monospace;
    font-size: 30px;
    color: rgb(161, 164, 161);

    
}
.border-div{
    border-bottom: solid 3px rgba(24, 24, 153, 0.569);
    width: 80%;
    margin-left: 10%;
}

.titulo{
    position: relative;
    left:13em;
    margin-top: 100px;
    font-size: 50px;
    text-align: left;
}

.form-container{
    position: relative;
    left: 20em;
    padding:1em;
    margin: 1em;
    width: 550px;
}
.form-input-container{
    display: flex;
    width: 95%;
    flex-direction: column;
}
.form-select-container{
    margin-bottom: 30px;
    display: flex;
    width: 95%;
    flex-direction: column;
}

.form-input,
.form-select{
    color: rgb(0, 0, 0);
    background:none;
    border: none;
    outline: none;
}
.form-input:focus,
.form-select:focus{
    outline: none;
    background:none;
}
.form-select{
    border-bottom: solid 1px rgba(24, 24, 153);
    border-top: solid 1px rgba(24, 24, 153);
    cursor: pointer;
}
.form-input{
    border-top: solid 1px rgba(24, 24, 153);
    border-bottom: solid 1px rgba(24, 24, 153);
}



.form-label{
    font-size: 40px;
}
.form-option{
    background:none;
}





.generic-button{
    color: rgb(161, 164, 161);
    background: none;
    font-size: 40px;
    border: none;
    letter-spacing: 3px;
    width: 100%;
    cursor: pointer;
    transition: all ease-in-out 0.5s;
    padding: 0px 5px 5px 7px;
    margin: 0;
    text-align: center;
}
.button-submit{
    padding: 0;
    margin: 0;
    width: 100%;
    height: fit-content;
    cursor: pointer;
    transition: all ease-in-out 0.5s;
    background-color: rgba(87, 90, 87, 0.331);
    border-radius: 10px;
}
.button-submit:hover{
    box-shadow:1px 1px 5px 1px rgb(24, 24, 153);
    
}
.generic-button:hover{
    text-shadow:0px 0px 3px rgb(24, 24, 153);

}

.info-container{
    position: relative;
    left: 21.6em;
    display: flex;
    text-align: left;
    flex-direction: column;
}
.subtitulo{
    text-align: center;
}
.button-back{
    position: absolute;
    left: 10%;
    top: 11%;
    width: 200px;
    height: 80px;
    text-align: center;

}

.button-back>a{
    font-size: 40px;
    text-decoration: none;
    width: 100%;
    height: 100%;
}


.flechita{
    font-size: 50px;
    color: rgb(89, 89, 141)
}
.span{
    font-size: 40px;
    font-weight: 700;
    color: rgb(89, 89, 141)
}

.reg-container{
    position: relative;
    left: 20em;
    top: 4em;
    width: 500px;
    height: fit-content;
}