.navbar-container{
    height:fit-content;
    margin: 0;
    padding: 5px 0 0 0;
    border-bottom: solid 2px rgb(89, 89, 141);
}
.spanNav{
    font-size: 30px;
    font-weight: 700;
    color: rgb(89, 89, 141)
}
.navbar-title{
    text-align: center;
    font-weight: 700;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 10px;
    word-spacing: 10px;
    font-size: 30px;
    margin: 0;
    padding: 0;
}

.login-button{
    background:transparent;
    border: none;
    cursor: pointer;
    width: fit-content;
    height: fit-content;
}

.login-button-position{
    position: relative;
    top:-0.5em;
}