<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/categorias/button-styles.css">
    <link rel="stylesheet" href="/css/form-styles.css">
    <title>Agregar Categoría</title>
</head>
<body>
    <h1 class="titulo">Editar Categoría</h1>
    <div class="border-div"></div>
    
    <div class="form-container">
        <form action="/categorias/editar/" method="POST">
            <input type="hidden" name="id" readonly value="<%= categoria.id %>">
            
            <div class="form-input-container">
                <label class="form-label" for="name">Nom<span class="span">bre Cate</span>goría:</label>
                <input class="form-input" id="name" type="text" name="name"> <br>
            </div>
            
            <div class="form-select-container">
                <label class="form-label" for="visibilidad">Visi<span class="span">bili</span>dad:</label>
                <select class="form-select" name="visibilidad" id="visibilidad">
                    <option class="form-option" value="1">Visible</option>
                    <option class="form-option" value="0">No visible</option>
                </select>
            </div>
            
            <div class="button-submit">
                <button class="generic-button" type="submit">Edi<span class="span">tar Cate</span>goría <span class="flechita">➡</span></button>
            </div>
        </form>
    </div>
    <div class="border-div"></div>
    
    <h3 class="subtitulo">Información de la categoría a editar:</h3>
    
    <div class="info-container">
        <p class="info-item"><b class="span">ID:</b> <span class="info-item-variable"><%= categoria.id %></span></p>
        <p class="info-item"><b class="span">Nombre:</b> <span class="info-item-variable"><%= categoria.name %></span></p>
    </div>
    
    <div class="border-div"></div>

    <div class="button-back button-back-view">
            <a href="/categorias/"><span class="flechita">⬅</span>Volver</a>
    </div>


</body>
</html>